<!doctype html>
<html lang="en">

<head>
  <title>website</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.0-beta1 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>


  <header>
    <div class="image">
      <div class="top-left">
<img src="../../assets/logo.jpg" style="height:90px; width:50px;">
      </div>
      <div class="ev">EVENTS</div>
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-1">
        </div>
        <div class="col-md-9 col-sm-9 col-9 text-end">

          <div class="menu_icon" [class.menu_iconClass]="menu_icon_variable" (click)="openMenu()">
            <span></span>
            <span></span>
            <span></span>
          </div>
          

          <div class="menu" style="z-index: 2;" [class.menuClasse]="menuVariable">
            <ul>
              <li><a href="#">NIPC OPPORTUNITIES</a></li>
              <li><a href="#">CONTENT HUB</a></li>
              <li><a href="#">COMPANY REPORTS</a></li>
              <li><a href="#">EVENTS<i class="bi bi-chevron-down ms-2"></i></a></li>
              <li><a href="#">SUPPORT TICKETS</a></li>
              <li><a href="#">CONTACT US </a></li>
            </ul>


          </div>

        </div>


      </div>
      <!-- <hr class="headhr"> -->

    </div>
    <!-- <div class="background" style="position: absolute; opacity: 0.5;">
            <img src="https://www.vision2030.gov.sa/media/pexjcopy/invest-01.jpg" alt="logo" style="margin-top: -150px;  margin-left:-15px;"></div> -->
  </header> 

  <div class="col-sm-12 w-100">
    <nav style="text-decoration: none; display: block;">
      <a href="#">HOME<i class="bi bi-chevron-right ms-2 "></i></a>
      <a href="#" class="ms-2">LOGIN</a>
    </nav>
  </div>

  <div class="container-fluid hello col-sm-12 mt-5" style=" margin-bottom:50px;">
    <ul style="list-style-type: none;">
      <div class="row">
        <div class="col-sm-2">
          <li><a style="text-decoration: underline; color: blue;" href="#">UpcomingEvents</a></li>
        </div>
        <div class="col-sm-2">
          <li class="ms-5"><a style="text-decoration: underline; color:blue">PastEvents</a></li>
        </div>
      </div>
    </ul>
  </div>








  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
    crossorigin="anonymous"></script>
</body>

</html>