<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  </head>
  <body>
      
    <div  style="background-color: rgb(232, 232, 232);"><br>

        <div class="container"><br><br><br>
        
            <div class="row gy-5">
        
           <div class="col-sm-8" style="z-index: 1;">
            <div class="card">
                <img class="card-img-top"  src="../../assets/img1.png" alt="Card image">
                <div class="aprel card-img-overlay sizel shadow-lg">
                  <h2>02</h2>NOV 2022
                </div>
                <div class="card-img-bottom-left" style="position: absolute; bottom: 8px; left:16px;">
                  <h4 class="card-title text-white">UPCOMING EVENTS POSITION 1</h4>
                  <button href="#" class="btn" style="border-radius: 20px; background-color: #f41450; color: white; font-weight: bold; ">KNOW MORE<i class="bi bi-arrow-right-short"></i></button>
                </div>
              </div>
            </div>
        
            <div class="col-sm-4">
              <div class="card" >
                <img class="card-img-top" src="../../assets/img2.png" alt="Card image">
                <div class="aprel card-img-overlay sizel shadow-lg">
                  <h2>02</h2>NOV 2022
                </div>
                <div class="card-img-bottom-left" style="position: absolute; bottom: 8px; left:16px;">
                  <h4 class="card-title text-white"> UPCOMING EVENTS POSITION 2</h4>
                  <button href="#" class="btn" style="border-radius: 20px; margin-top: 20px; background-color: #f41450; color: white; font-weight: bold; ">KNOW MORE<i class="bi bi-arrow-right-short"></i></button>
                </div>
              </div>
            </div>
        </div>
        </div>
        
        <br><br><br>
        
        <div class="container ">
            
        <div class="row gy-5 ">
            
            <div class=" col-sm-4  ">
              <div class="card" >
                <img class="card-img-top" src="../../assets/img3.png" alt="Card image">
                <div class="aprel card-img-overlay sizel shadow-lg">
                  <h2>02</h2>NOV 2022
                </div>
                <div class="card-img-bottom-left" style="position: absolute; bottom: 8px; left:16px;">
                  <h4 class="card-title text-white">UPCOMING EVENTS POSITION 3</h4>
                  <button href="#" class="btn" style="border-radius: 20px; background-color: #f41450; color: white; font-weight: bold; ">KNOW MORE<i class="bi bi-arrow-right-short"></i></button>
                </div>
              </div>
            </div>
        
            <div class="col-sm-4" >
              <div class="card" >
                <img class="card-img-top" src="../../assets/img4.png" alt="Card image">
                <div class="aprel card-img-overlay sizel shadow-lg">
                  <h2>02</h2>NOV 2022
                </div>
                <div class="card-img-bottom-left" style="position: absolute; bottom: 8px; left:16px;">
                  <h4 class="card-title text-white">UPCOMING EVENTS POSITION 3</h4>
                  <button href="#" class="btn" style="border-radius: 20px; background-color: #f41450; color: white; font-weight: bold;">KNOW MORE<i class="bi bi-arrow-right-short"></i></button>
                </div>
              </div>
            </div>
        
            <div class="col-sm-4  ">
              <div class="card" >
                <img class="card-img-top" src="../../assets/img5.png" alt="Card image"> 
                <div class="aprel card-img-overlay sizel shadow-lg">
                  <h2>02</h2>NOV 2022
                </div>
                <div class="card-img-bottom-left" style="position: absolute; bottom: 8px; left:16px;">
                  <h4 class="card-title text-white">UPCOMING EVENTS POSITION 3</h4>
                  <button href="#" class="btn" style="border-radius: 20px; background-color: #f41450; color: white; font-weight: bold; ">KNOW MORE<i class="bi bi-arrow-right-short"></i></button>
                </div>
              </div>
            </div>
            
            </div>
        </div>
        </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  </body>
</html>